<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handshake.handshake" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseFairActivity"
            android:label="@string/title_activity_choose_fair" >
        </activity>
        <activity
            android:name=".SelectUserTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_select_user_type"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".CompanySelectActivity"
            android:label="@string/title_activity_company_select" >
        </activity>
        <activity
            android:name=".EmployeeViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_employee_view"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".JobSeekerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_job_seeker"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
